{% extends "base.html" %}

{% block content %}

  <div class="row">
    <section class="samplebox col-sm-12">
      <h1>{{ title }}</h1>
      <form class="form-inline" id="datepicker-form">
        <label for="slot-date">날짜 선택:&nbsp;</label>
        <input type="text" class="form-control" id="reservation-date" data-provide="datepicker" data-date-language="ko" data-date-format="yyyy-mm-dd"
          value="{{ date_str }}">
      </form>
    </section>
  </div>

  <div class="row">
    <section class="samplebox col-sm-12">

      {% for room in rooms %}
        <section class="room-slots">
          <h2>{{ room.name }}</h2>
          <ul class="list-inline">
            
            {% for slot in room.slots %}

              {% if slot.is_reserved %}

                <li class="list-inline-item rounded slot-time slot-time--reserved"
                  data-toggle="tooltip" data-placement="bottom"
                  title="예약됨 ({{ slot.reserve_user_name }})">
                  <div>{{ slot.time_begin }}</div>
                  <div>예약됨 ({{ slot.reserve_user_name }})</div>
                </li>

              {% else %}

                <li class="list-inline-item rounded slot-time">
                  <a href="{{ url_for('make_reservation', location = request.args.location, room = room, slot = slot.id) }}">
                    <div>{{ slot.time_begin }}</div>
                    <div>예약 가능</div>
                  </a>
                </li>

              {% endif %}

            {% endfor %}
            
          </ul>
        </section>
      {% endfor %}

    </section>
  </div>

{% endblock %}

{% block scripts %}
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()

      $('input[data-provide="datepicker"]').datepicker().on('changeDate', function () {
        $('#datepicker-submit').submit();
      });
    });
  </script>
{% endblock %}