<html>
<head>
	<title>
		Where2Go - CS360
	</title>
	<style type="text/css">
		body{
			font-size: 20pt
			font-family: 'times new roman'
		}
	</style>
</head>
<body style="text-align:center">
			{% for i in range(5) %}
            <br>
            {% endfor %}
	<h1> Where2Go - 당신을 위한 공부 공간을 찾아보세요! </h1>
	<div>
                    <a href="/login">Login</a><br>
                    <a href="/register">Register</a><br>
                    <a href="/review">Review</a><br>

        </div>
</body>
</html>