{% extends "base.html" %}
<div class="container"><div class="row"><div class="col-sm-8 offset-sm-2">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <section class="samplebox flashes"><ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul></section>
      {% endif %}
    {% endwith %}

{% block content %}

  <section class="samplebox lead">
      <h1>{{ title }}</h1>
      <form class="form-inline lead" method="POST">
        {{ form.filter_type(class = 'form-control form-control-sm') }}
        {{ form.filter_type.label }}
      </form>
  </section>
  <section class="samplebox lead">
    {% if form.filter_type.data == 'building' %}
      {% for building_code, loc_list in locations|groupby('building_code') %}

        <section class="location-group-info">
          <h2>{{ loc_list[0].building.name ~ ' (' ~ building_code ~ ')' }}</h2>
          <div class="location-group-info__studylocations">
            {% for location in loc_list %}

              <a class="btn {{ 'btn-primary' if location.slots else 'btn-info' }}"
                 href="{{ url_for('view_location', location_id = location.id) }}">{{ location.name }}</a>

            {% endfor %}
          </div>
        </section>

      {% endfor %}

    {% else %}

      {% for category_id, loc_list in locations|groupby('category_id') %}

        <section class="location-group-info">
          <h2>{{ loc_list[0].category.name }}</h2>
          <div style='line-height:200%' class="location-group-info__studylocations">
            {% for location in loc_list %}

              <a class="btn {{ 'btn-primary' if location.slots else 'btn-info' }}"
                 href="{{ url_for('view_location', location_id = location.id) }}">{{ location.name }}</a> ({{ location.building.name ~ ' (' ~ location.building_code ~ ')' }})

            {% endfor %}
          </div>
        </section>

      {% endfor %}

    {% endif %}
  </section>

{% endblock %}
 </div></div></div>

{% block scripts %}

  <script>
    $(function () {
      $('#{{ form.filter_type.id }}').change(function () {
        $(this).closest('form').submit();
      });
    });
  </script>

{% endblock %}