{% extends "base.html" %}

{% block content %}

  <div class="row">
    <div class="samplebox col-sm-8 offset-sm-2 align-self-center">
      <h1>{{ title }}</h1>
      <form class="form-inline">
        <select class="form-control form-control-sm" id="filter-type">
          <option value="building">건물</option>
          <option value="location-type">종류</option>
        </select>
        <label for="filter-type">별로 보기</label>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="samplebox col-sm-8 offset-sm-2">
      {% if filter == 'building' %}

        {% for building_code, loc_list in locations|groupby('building_code') %}

          <section class="location-group-info">
            <h2>{{ loc_list[0].building_name ~ ' (' ~ building_code ~ ')' }}</h2>
            <div class="location-group-info__studylocations">
              {% for location in loc_list %}
                <a href="{{ url_for('locations', location_id = location.id) }}">{{ location.name }}</a>{{ if not loop.last }},{{ endif }}
              {% endfor %}
            </div>
          </section>

        {% endfor %}

      {% else %}
      
        {% for type, loc_list in locations|groupby('type') %}

          <section class="location-group-info">
            <h2>{{ type }}</h2>
            <div class="location-group-info__studylocations">
              {% for location in loc_list %}
                <a href="{{ url_for('locations', location_id = location.id) }}">{{ location.name }}</a> ({{ loc_list[0].building_name ~ ' (' ~ building_code ~ ')' }}){{ if not loop.last }},{{ endif }}
              {% endfor %}
            </div>
          </section>
          
        {% endfor %}

      {% endif %}
    </div>
  </div>

  {% endblock %}