{% extends "base2.html" %}

{% block content %}

  <section class="samplebox">
      <h1>{{ title }}</h1>
      <form class="form-inline" method="POST">
        {{ form.filter_type(class = 'form-control form-control-sm') }}
        {{ form.filter_type.label }}
      </form>
  </section>
  <section class="samplebox">
    {% if form.filter_type.data == 'building' %}

      {% for building_code, loc_list in locations|groupby('building_code') %}

        <section class="location-group-info">
          <h2>{{ loc_list[0].building.building_name ~ ' (' ~ building_code ~ ')' }}</h2>
          <div class="location-group-info__studylocations">
            {% for location in loc_list %}
              <a href="{{ url_for('view_location', location_id = location.location_number) }}">{{ location.location_name }}</a>
              {%- if not loop.last %},{% endif %}
            {% endfor %}
          </div>
        </section>

      {% endfor %}

    {% else %}
    
      {% for category_number, loc_list in locations|groupby('category_number') %}

        <section class="location-group-info">
          <h2>{{ loc_list[0].category.type }}</h2>
          <div class="location-group-info__studylocations">
            {% for location in loc_list %}
              <a href="{{ url_for('view_location', location_id = location.location_number) }}">{{ location.location_name }}</a> ({{ location.building.building_name ~ ' (' ~ location.building_code ~ ')' }})
              {%- if not loop.last %},{% endif %}
            {% endfor %}
          </div>
        </section>
        
      {% endfor %}

    {% endif %}
  </section>

{% endblock %}


{% block scripts %}

  <script>
    $(function () {
      $('#{{ form.filter_type.id }}').change(function () {
        $(this).closest('form').submit();
      });
    });
  </script>

{% endblock %}