{% extends "base.html" %}

{% block content %}

<section>
  <h1>{{ title }}</h1>
  <form class="form-inline" method="POST">
    {{ form.date.label }}
    {{ form.date(class="form-control", value=form.date.data, **{ 'data-provide': "datepicker", 'data-date-language': "ko", 'data-date-format': "yyyy-mm-dd" }) }}
  </form>
</section>

<section>

  {% for slot in slots %}

    <section class="slot">
      <h2>{{ slot.name }}</h2>
      <div class="slot__tags">
        <span class="badge badge-primary">인원: {{ slot.minimum_capacity if slot.minimum_capacity > 0 else '제한 없음' }} ~ {{ slot.maximum_capacity ~ '명' if slot.maximum_capacity > 0 else '제한 없음' }}</span>
        <span class="badge badge-secondary">이용 시간: {{ '최대 %d시간'|format(slot.max_reserve_time) if slot.minimum_capacity > 0 else '제한 없음' }}</span>
      </div>
      <ul class="list-inline">

        {% for begin_time, segment in slot.segments.items() %}

          {% if segment.is_reserved %}

            <li class="list-inline-item rounded slot__segment slot__segment--reserved"
              data-toggle="tooltip" data-placement="bottom"
              title="예약됨 ({{ segment.person_name }})">
              <div>{{ begin_time.strftime('%H:%M') }}</div>
              <div>예약됨 ({{ segment.person_name }})</div>
            </li>

          {% else %}

            <li class="list-inline-item rounded slot__segment">
              <a href="{{ url_for('edit_reservation', location_id = slot.location_id, slot_id = slot.id, date = form.date.data, begin_time = begin_time.strftime('%H%M')) }}">
                <div>{{ begin_time.strftime('%H:%M') }}</div>
                <div>예약 가능</div>
              </a>
            </li>

          {% endif %}

        {% endfor %}

      </ul>
    </section>
  {% endfor %}

</section>

{% endblock %}

{% block scripts %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()

    $('input[data-provide="datepicker"]').datepicker().on('changeDate', function () {
      $(this).closest('form').submit();
    });
  });
</script>
{% endblock %}