{% extends "base2.html" %}

{% block content %}

  <section class="samplebox">
    <h1>{{ title }}</h1>
    <div>이용 시간 (평일): {{ location.available_begin_weekday }} ~ {{ location.available_end_weekday }}</div>
    <div>이용 시간 (주말): {{ location.available_begin_weekend }} ~ {{ location.available_end_weekend }}</div>
    <div>만족도: {#{ '(평가해 주세요)' if happiness_rating == 0 else happiness_rating }} / {{ max_happiness_rating }#}</div>
    <div>혼잡도: {#{ '(평가해 주세요)' if crowded_rating == 0 else crowded_rating }} / {{ max_crowded_rating }}#}</div>
    {% if is_reservable %}
      <div>현재 이용자 수: {#{ num_current_reservations }#} / {#{ num_max_reservations }#}명 (<a href="{{ url_for('choose_slot_for_location', location_id = location.location_number) }}">예약하기</a>)</div>
    {% endif %}
    <div><a href="{{ url_for('review_location', location_id = location.location_number) }}">평가하기</a></div>
  </section>

  <section class="samplebox">
    {% if location.reviews %}

      {% for review in location.reviews %}

        <section class="location-review">
          익명
          <img class="rating-icon"
            alt="만족도: {{ review.get_like_score_text() }}"
            title="만족도: {{ review.get_like_score_text() }}"
            src="/static/images/like-{{ review.like_score }}.png">
          <img class="rating-icon"
            alt="사람 수: {{ review.get_crowded_score_text() }}"
            title="사람 수: {{ review.get_crowded_score_text() }}"
            src="/static/images/crowd-{{ review.crowded_score }}.png">
          {{ review.comment[:50] if review.comment else '(한줄평 없음)' }}
        </section>

      {% endfor %}
    
    {% else %}
    
      <section class="location-review">
        (평가가 없습니다)
      </section>

    {% endif %}

    <nav aria-label="한줄평 더 보기" style="float: none; margin: auto;">
      <ul class="pagination justify-content-center mt-2">
        <li class="page-item {{ 'disabled' if review_pagination.prev_page >= review_pagination.current_page else '' }}">
          <a class="page-link" href="{{ url_for('locations', location_id = location.location_number, current_review = 0) }}">&lt;</a>
        </li>

        {% for page_num in review_pagination.pages %}
          <li class="page-item {{ 'active' if page_num == review_pagination.current_page else '' }}">
            <a class="page-link" href="{{ url_for('locations', location_id = location.location_number, current_review = page_num) }}">{{ loop.index }}</a>
          </li>
        {% endfor %}

        <li class="page-item {{ 'disabled' if review_pagination.next_page <= review_pagination.current_page else '' }}">
          <a class="page-link" href="{{ url_for('locations', location_id = location.location_number, current_review = 0) }}">&gt;</a>
        </li>
      </ul>
    </nav>
  </section>

  {% endblock %}