{% extends "base.html" %}

{% block content %}

<section>
  <h1>로그인해주세요.</h1>
  <br>
  <form class="login-form" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.user_name.label }}
      {{ form.user_name(class="form-control", placeholder="아이디를 입력해주세요.") }}
      {% for error in form.user_name.errors %}
        <small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.password.label }}
      {{ form.password(class="form-control", placeholder="비밀번호를 입력해주세요.") }}
      {% for error in form.password.errors %}
        <small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>
    <div class="form-group">
      <div class="form-check">
        {{ form.remember_me(class="form-check-input") }}
        {{ form.remember_me.label(class="form-check-label") }}
      </div>
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-lg btn-primary") }}
    </div>
    <p><a href="{{ url_for('register') }}">회원가입</a></p>

  </form>
</section>

{% endblock %}