{% extends "base.html" %}

{% block content %}
    
    <h2>내 예약 목록</h2>


    <section class="samplebox lead">
      {% if my_reservations %}

        <ul class="list-group">

          {% for reservation in my_reservations %}

            <li class="list-group-item">
              <h2 class="reservation-title">
                {{ reservation.slot.name }} &nbsp; 
                <a class="btn btn-info lead" href="{{url_for('view_location_slots',
                location_id = reservation.slot.location.id, begin_date = reservation.begin_date, slot_id = reservation.slot.id) }}">수정하기</a>
              </h2>
              {{reservation.begin_date}} ~ {{reservation.end_date}}

            </li>

          {% endfor %}

        </ul>

      {% else %}

        예약한 항목이 없습니다.

      {% endif %}

    </section>

{% endblock %}