{% extends "base.html" %}

{% block content %}

<section>
  <h1>회원 가입</h1>
  <br>
  <form class="credentials-form" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.person_name.label }}
      {{ form.person_name(class="form-control", placeholder="이름을 입력해주세요.") }}
      {% for error in form.person_name.errors %}
        <small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.user_name.label }}
      {{ form.user_name(class="form-control", placeholder="ID를 입력해주세요.") }}
      {% for error in form.user_name.errors %}
        <small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.password.label }}
      {{ form.password(class="form-control", placeholder="비밀번호를 입력해주세요.") }}
      {% for error in form.password.errors %}
        <small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.password_confirm.label }}
      {{ form.password_confirm(class="form-control", placeholder="비밀번호를 다시 한 번 입력해주세요.") }}
      {% for error in form.password_confirm.errors %}
        <small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>
    <div class="form-group">
      <div class="form-check">
        {{ form.terms(class="form-check-input") }}
        {{ form.terms.label(class="form-check-label") }}
      </div>
      {% for error in form.terms.errors %}
        <small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-lg btn-primary") }}
    </div>
  </form>
</section>

{% endblock %}