{% extends "base.html" %}

{% block content %}
    <h1>회원 가입</h1>
    <br>
    <form class="form-signin", action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(class="form-control", placeholder="당신의 이름을 입력해주세요.", style="width:300px") }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.userid.label }}<br>
            {{ form.userid(class="form-control", placeholder="아이디를 입력해주세요.", style="width:300px") }}
            {% for error in form.userid.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control",placeholder="비밀번호를 입력해주세요.",style="width:300px") }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password_confirm.label }}<br>
            {{ form.password_confirm(class="form-control",placeholder="비밀번호를 다시 한 번 입력해주세요.",style="width:300px") }}
            {% for error in form.password_confirm.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.terms.label }} {{ form.terms() }}</p>
        <p>{{ form.submit(class="btn btn-lg btn-primary btn-block", style="height:50px; width:150px") }}</p>
    </form>
{% endblock %}