{% extends "base.html" %}

{% block content %}
    <h1>리뷰를 남겨주세요.</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.reviewname.label }}<br>
            {{ form.reviewname(size=20) }}<br>
            {% for error in form.reviewname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.like_score.label }}<br>
            {{ form.like_score}}<br>
            {% for error in form.like_score.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.crowded_score.label }}<br>
            {{ form.crowded_score}}<br>
            {% for error in form.crowded_score.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.content.label }}<br>
            {{ form.content}}<br>
            {% for error in form.content.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}